@import '_colors.scss';
@import '_fonts.scss';
@import '_urls.scss';
@import '_mixins.scss';
@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto+Mono');
// Your CSS/SCSS below this line

.coverImage{
  text-align: center;
  height: 20;
  width: 20;
}

body{
  background-color: $b_color;
  margin-bottom: 20px;
  margin-top: 20px;
}

h1{
  font-family:$h_text;
  color: $t_color;
}

h3{
  color: $t_color;
  margin-left: 20px;
}


#map{
  width: 100%;
  height: 400px;
  background-color: grey;
  margin-top: 20px;
}

#jumbotron{
  background-color: $j_color;
}
